@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

:root {
	--swiper-theme-color: #f28c18 !important;
}

.swiper {
	position: relative !important;
}

.swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination {
	position: absolute !important;
	bottom: 16px !important;
}

.card_image {
	height: 13rem !important;
}

.error_input {
	animation: shake 300ms;
}

@keyframes shake {
	25% {
		transform: translate(4px);
	}
	50% {
		transform: translate(-4px);
	}
	75% {
		transform: translate(4px);
	}
}
